.timerContainer .timeContainer{
    height: 50px;
    width: 50px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}
.timerContainer p{
    margin: 0;
    text-align: center;
    color: #4d4d4d;
    padding-top: 4px;
    font-size: 14px;
}
.timerContainer .shopBtn{
    background-color: white;
    padding: 6px 30px;
    color: black;
    font-weight: 400;
    transition: all 0.2s ease;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.timerContainer .shopBtn:hover{
    background-color: #679509;
    color: white;
}

.HeaderContainer{
    background: #dbdbdb;
}
.headerOverlay{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 60%;
    left: -10px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
}
.headerOverlay .headerOverlayContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align:  center;
    transform: translate(-50%, -50%);
}
.headerOverlay .headerOverlayContainer p{
    color: #679509;
    font-size: 20px;
    font-weight: 600;
}
@media only screen and (max-width: 600px) {
    .timerContainer .timeContainer{
        height: 40px;
        width: 40px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .timerContainer p{
        font-size: 12px;
    }
  }