.timerContainer .timeContainer{
    height: 60px;
    width: 60px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}
.timerContainer p{
    margin: 0;
    text-align: center;
    color: #4d4d4d;
    padding-top: 4px;
    font-size: 14px;
}
.timerContainer .shopBtn{
    background-color: white;
    padding: 6px 30px;
    color: black;
    font-weight: 400;
    transition: all 0.2s ease;
}
.timerContainer .shopBtn:hover{
    background-color: #679509;
    color: white;
}

.HeaderContainer{
    background: #dbdbdb;
}
.headerOverlay{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 60%;
    left: -10px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
}
.headerOverlay .headerOverlayContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align:  center;
    transform: translate(-50%, -50%);
}
.headerOverlay .headerOverlayContainer p{
    color: #679509;
    font-size: 20px;
    font-weight: 600;
}