.hoverBtn{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align:  center;
    transform: translate(-50%, -50%);
}
.hoverBtn .cartBtn{
    overflow: hidden;
    width: 120px;
    height: 35px;
    border-radius: 22px;
    font-weight: 400;
    opacity: 0;
    background-color: #679509;
    color: white;
    transition: all 0.2s ease;
    position: relative;
}
.text-1, .text-2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 15%;
    left: 0;
    text-align:  center;
    transform: translate(-50%, -50%);
    transition: all 0.3s ;
}
.text-1{
    transform: rotateX(0deg);
    
}
.cartBtn:hover .text-1{
    transform: rotateX(-90deg);
}
.text-3{
    height: 30px !important;
    width: 30px !important;
    top: 10% !important;
    left: 35% !important;
    color: white !important;
}
.text-2{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 20%;
    left: 40%;
    text-align:  center;
    transform: translate(-50%, -50%);
    transform: rotateX(90deg);
}
.cartBtn:hover .text-2{
    transform: rotateX(0deg);
}
.cardItem{
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px #cccccc3b;
    /* margin: 15px ; */
    background-color: white;
    width: 200px !important;
}
.cardItem:hover .hoverBtn .cartBtn{
    opacity: 1;
}
.photo{
    transition: transform 0.2s ease;
}
.cardItem:hover .photo{
    transform: scale(1.5);
}

/* arrows custom button */
.newPrev, .newNext{
    top: 45%;
    height: 36px;
    width: 36px;
    padding: 0 6px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 50%;
    font-size: 25px;
    z-index: 5;
    position: absolute;
  }
  .newPrev{
    left: -12px;
  }
  .newPrev:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  }
  .newNext{
    right: -12px;
  }
  .newNext:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  }