.hoverBtn{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align:  center;
    transform: translate(-50%, -50%);
}
.hoverBtn .cartBtn{
    background-color: #679509;
    overflow: hidden;
    padding: 6px 20px;
    border-radius: 22px;
    color: white;
    font-weight: 400;
    opacity: 1;
    transition: opacity 0.2s ease;
}
.cardItem:hover .hoverBtn .cartBtn{
    opacity: 1;
}
.photo{
    transition: transform 0.2s ease;
}
.cardItem:hover .photo{
    transform: scale(1.5);
}