$primary_background: #679509;
.question{
    .make-button, .contact-button{
        padding: 4px 12px;
        font-weight: 600;
        font-size: 15px;
        transition: all 0.2s ease;
    }
    .make-button{
        background-color: $primary_background;
        transition: all 0.2s ease;
    }
    .make-button:hover{
        background-color: #2a660a;
    }
    .contact-button{
        background-color: white;
        color: black;
        transition: all 0.2s ease;
    }
    .contact-button:hover{
        background-color: $primary_background;
        color: white;
    }
}