.serviceIcon{
    background-color: white !important;
    height: 50px !important;
    width: 50px;
    padding: 5px;
    color: black;
}
.left::before{
    content: '\f5ea';
    background-color: #d9d9d9;
    color: black;
}
.dollar::before{
    content: '\f5ea';
    background-color: #d9d9d9;
    color: black;
}
.lock::before{
    content: '\f5ea';
    background-color: #d9d9d9;
    color: black;
}