.category-container{
    margin: 0 auto;
    padding: 0;
    margin-top: 64px;
    .category-heading{
        padding-bottom: 15px;
        h1{
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            line-height: 20px;
        }
        p{
            color: rgb(75 85 99);
            font-size: 15px;
            font-weight: 600;
            text-align: center;
        }
    }
    .categories{
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        .category-item{
            border-radius: 50%;
            border: 1px dashed #bbb;
            width: 120px;
            padding: 5px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            img{
                border-radius: 50%;
            }
            .itemOverlay{
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                text-align: center;
                height: 0;
                width: 0;
                color: white;
                border-radius: 50%;
                transition: all  .2s ease;
                background-color: rgba(16, 185, 129, 0.7);
                .plusIcon{
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    text-align: center;
                    opacity: 0;
                    transition: all .2s ease;
                    color: white;
                }
            }
        }
        .category-item:hover .plusIcon{
            opacity: 1;
        }
        .category-item:hover .itemOverlay{
            height: 80px;
            width: 80px;
        }
        .category-name{
            text-align: center;
            font-weight: 600;
            margin-top: 10px;
        }
    }
}

@media screen and (min-width: 640px) and (max-width: 767px){
    .category-container{
        .categories{
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}
@media screen and (max-width: 639px){
    .category-container{
        .categories{
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}
@media screen and (max-width: 363px){
    .category-container{
        .categories{
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
}
@media screen and (max-width: 1279px){
    .checkout-container{
        padding: 0 25px;
    }
}