.search-product-container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 32px 0;
    .products-container{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 20px;
        .products{
            position: relative;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            width: 200px;
            padding: 15px 0 10px 0;
            .product-img{
                width: 150px;
                margin: 0 auto;
                transition: transform 0.2s ease;
            }
            .hover-btn-container{
                position: absolute;
                top: 50%;
                left: 50%;
                text-align:  center;
                transform: translate(-50%, -50%);
                .hover-btn{
                    overflow: hidden;
                    width: 120px;
                    height: 35px;
                    border-radius: 22px;
                    font-weight: 400;
                    opacity: 0;
                    background-color: rgb(16, 185, 129);
                    color: white;
                    transition: all 0.2s ease;
                    position: relative;
                    .button-text, .button-icon{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 15%;
                        left: 0;
                        text-align:  center;
                        transform: translate(-50%, -50%);
                        transition: all 0.3s ;
                    }
                    .button-text{
                        transform: rotateX(0deg);
                    }
                    .button-icon{
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        top: 20%;
                        left: 40%;
                        text-align:  center;
                        transform: translate(-50%, -50%);
                        transform: rotateX(90deg);
                    }
                    &:hover .button-text{
                        transform: rotateX(-90deg);
                    }
                    &:hover .button-icon{
                        transform: rotateX(0deg);
                    }
                    
                }
            }
            &:hover .product-img{
                transform: scale(1.2);
            }
            &:hover .hover-btn{
                opacity: 1;
            }
        }
    }
    .empty-container{
        padding: 16px;
        height: calc(100vh - 113px);
        display: flex;
        align-items: center;
        justify-content: center;
        .empty-cart{
            height: 80px;
            width: 80px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(209 250 229);
            border-radius: 50%;
        }
    }
}

@media screen and (min-width: 1114px){
    .search-product-container{
        .products-container{
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }
    }
}
@media screen and (min-width: 883px) and (max-width: 1113px){
    .search-product-container{
        .products-container{
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
}
@media screen and (min-width: 465px) and  (max-width: 882px){
    .search-product-container{
        .products-container{
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}
@media screen and (min-width: 465px) and  (max-width: 688px){
    .search-product-container{
        .products-container{
            grid-template-columns: repeat(2, minmax(0, 1fr));
            .products{
                margin: 0 auto;
            }
        }
    }
}
@media screen and (max-width: 464px) {
    .search-product-container{
        .products-container{
            grid-template-columns: repeat(1, minmax(0, 1fr));
            .products{
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 1279px){
    .search-product-container{
        padding: 32px 25px;
    }
}