*{
  padding: 0;
}
.poster{
  box-shadow: 0px 0px 10px 0px #d9d9d9b3;
  position: relative;
}
.main-container{
  position: relative;
}
.images{
  display: block;
  width: 100%;
  height: auto;
}
.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .9s ease;
}
.overlay2{
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .9s ease;
}
.poster:hover .overlay {
  width: 100%;
  right: 0;
}

.poster:hover .overlay2 {
  width: 100%;
  left: 0;
}
.pCard{
  box-shadow: 0px 0px 10px 0px #cccccc3b;
  margin: 15px;
}

/* arrows custom button */
.prev, .next{
  top: -30px;
  height: 26px;
  width: 26px;
  padding: 0 3px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px #cccccc3b;
  border-radius: 50%;
  font-size: 20px;
  position: absolute;
}
.prev{
  right: 55px;
}
.prev:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.next{
  right: 13px;
}
.next:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}