
.poster{
  box-shadow: 0px 0px 10px 0px #d9d9d9b3;
  position: relative;
}
.main-container{
  position: relative;
}
.images{
  display: block;
  width: 100%;
  height: auto;
}
.overlay::after{
  content: '';
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 50%;
  transition: all 0.2s ease;
}
.poster:hover .overlay::after{
  left: 0;
  width: 100%;
}
.pCard{
  box-shadow: 0px 0px 10px 0px #cccccc3b;
  margin: 15px;
}

/* arrows custom button */
.prev, .next{
  top: -30px;
  height: 26px;
  width: 26px;
  padding: 0 3px;
  background-color: rgba(5, 150, 105, 0.5);
  box-shadow: 0px 0px 10px 0px #cccccc3b;
  border-radius: 50%;
  font-size: 20px;
  position: absolute;
  transition: all 0.1s ease;
}
.prev{
  right: 55px;
}
.prev:hover{
  background-color: rgb(5 150 105);
  color: white;
}
.next{
  right: 13px;
}
.next:hover{
  background-color: rgb(5 150 105);
  color: white;
}