.authentication-modal{
    position: relative;
    padding: 40px;
    .modal-close-icon{
        background-color: #ddd;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        transition: background-color 0.1s ease;
    }
    .modal-close-icon:hover{
        background-color: rgba(239, 68, 68, 0.2);
    }
    .label-text{
        color: #6b7280;
        margin-bottom: 3px ;
    }

    // input container css
    .input-container{
        position:  relative;
        label{
            position: absolute;
            left: 12px;
            top: 12px;
            z-index: 2;
        }
        input{
            width: 100%;
            border: 1px solid #eee;
            border-radius: 4px;
            padding : 8px 8px 8px 36px;
            outline: none;
        }
        input:focus{
            border: 1px solid #10b981;
        }
        .show-password-btn{
            background-color: transparent;
            padding: 4px;
            border-radius: 50%;
            position: absolute;
            right: 12px;
            top: 9px;
            z-index: 2;
            cursor: pointer;
            transition: all 0.1s ease;
        }
        .show-password-btn:hover{
            background-color: #ddd;
        }
    }

    // css for login and register button
    .login-btn, .register-btn{
        background-color: #10b981;
        padding: 8px 0;
        font-size: 16px;
        color: white;
        border-radius: 4px;
        font-weight: 600;
        transition: background-color 0.1s ease;
    }
    .login-btn:hover, .register-btn:hover{
        background-color: #059669;
    }
    .login-divider, .registration-divider{
        text-align: center;
        margin: 20px 0;
    }
    .social-auth{
        .social-btn{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 8px 0;
            border-radius: 4px;
            font-size: 15px;
            font-weight: 600;
            
        }
        :first-child{
            background-color: #f3f4f6;
            color: #4b5563;
            transition: all 0.1s ease;
        }
        :first-child:hover{
            background-color: #1877f2;
            color: white;
        }
        .google-btn{
            background-color: transparent;
            transition: all 0.1s ease;
            border: 1px solid grey;
        }
        .google-btn:hover{
            background-color: #E5E5E5;
        }
    }

}

// ant design custom css
.ant-modal-content{
    border-radius: 14px !important;
}