.search-container{
    width: 100%;
    background-color: white;
    border-radius: 8px;
    .category-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-right: 1px solid #ddd;
        padding: 4px 8px;
    }
    input{
        padding: 4px 8px;
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 14px !important;
    }
    button{
        padding: 12px 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.right-content{
    .cart-counter-container{
        background-color: #ef4444;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        text-align: center;
        color: white;
        position: absolute;
        top: -8px;
        left: 12px;
        font-size: 13px;
    }
}
.cart-drawer{
    .cart-header{
        display: flex;
        justify-content: space-between;
        background-color: #eef2ff;
        padding: 16px;
        .cart-header-content{
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
    .cart-body{
        .cart{
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: space-between;
            .product-photo{
                width: 20%;
                border: 1px solid #ddd;
                border-radius: 50%;
                padding: 9px;
                img{
                    width: 100%;
                    object-fit: cover;
                    mix-blend-mode: darken;
                }
            }
            .cart-info{
                h2{
                    margin: 0;
                    font-size: 14px;
                    font-weight: 600;
                    color: #808080;
                    line-height: 15px;
                }
                p{
                    margin: 0;
                    font-size: 12px;
                }
                .cart-footer{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    p{
                        margin: 0;
                        font-size: 16px;
                        font-weight: 700;
                        color: black;
                    }
                    .btn-container{
                        width: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border: 1px solid #eee;
                        border-radius: 4px;
                        button{
                            font-size: 14px;
                            padding: 4px 12px  ;
                            font-weight: 700;
                        }
                    }
                    .delete-btn{
                        background-color: rgba(239, 68, 68, 0.2);
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        :first-child{
                            color: rgb(239 68 68);
                        }
                    }
                }
            }
        }
        
        .empty-cart-container{
            padding: 16px;
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
            .empty-cart{
                height: 80px;
                width: 80px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(209 250 229);
                border-radius: 50%;
            }
        }
    }
    .cart-footer-btn{
        width: 100%;
        padding: 16px;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 16px;
        position: absolute;
        left: 0;
        bottom: 0;
        .checkout-btn{
            font-size: 14px;
            font-weight: 600;
            padding: 8px 16px;
            border-radius: 6px;
            color: white;
            background-color: rgb(16 185 129);
            transition: all 0.2s ease;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .price-container{
                background-color: white;
                padding: 3px 16px;
                border-radius: 6px;
                color: rgb(5 150 105);
            }
        }
        .checkout-btn:hover{
            background-color: #059669;
        }
    }
}
