.profile-container{
    background-color: rgb(249, 250, 251);
    height: fit-content;
    .profile{
        max-width: 1280px;
        padding: 32px 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        aside{
            width: 100%;
            background-color: white;
            padding: 18px;
            border-radius: 8px;
            height: fit-content;
            ul {
                margin: 0;
                padding: 0;
                li{
                    display: flex;
                    padding: 8px;
                    font-size: 15px;
                    font-weight: 600;
                    cursor: pointer;
                    align-items: center;
                    gap: 10px;
                    background-color: transparent;
                    transition: all 0.2s ease;
                }
                li:hover{
                    background-color: #f9fafb;
                    color: rgb(5 150 105);
                }
                li:visited{
                    background-color: red !important;
                }
            }
        }
    }
    main{
        overflow-x: auto;
        overflow-y: hidden;
        width: 100% !important;
    }
}
@media screen and (max-width: 1279px){
    .profile-container{
        .profile{
            padding: 32px 25px;
        }
    }
}
@media screen and (min-width: 1024px) and (max-width: 1193px){
    .profile-container{
        .profile{
            aside{
                width: 260px !important;
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .profile-container{
        height: calc(100vh - 82px);
        .profile{
            flex-direction: row;
            gap: 40px;
            aside{
                width: 240px;
            }
        }
    }
}